.hero{
    position: relative;
    
}
.banner-img{
    margin-top: 75px;
    width: 100%;
    mask-image: linear-gradient(to right,transparent,black 75%);
    -webkit-mask-image:linear-gradient(to right,transparent,black 75%)
}

.more-cards{
    margin-left: 90px;
    margin-top: 0;
    
}

.hero-caption{
    margin-top: 100px;
    position: absolute;
    padding: 7%;
    bottom: 0;
    width: 100%;
}

.caption-img{
    width: 100%;
    max-width: 490px;
}
.hero-caption p{
    margin-left: 0;
    max-width: 60%;
}
.hero-btns{
    display: flex;
    gap: 15px
}



.hero-btns img{
    
    width: 30px;
    
    
}

 .btn{
    margin-top: 10px;
    border-radius:3.5px;
    border: 0;
    padding: 8px 20px;
    background-color: white;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.dark-btn{
    border-radius:3.5px;
    background-color:#6d6d6eb3;
    color: #fff;
}
.btn:hover{
    background: #ffffffbf;
}
.dark-btn:hover{
    background: #6d6d6e66;
}

@media  (max-width:1000px) {
    .hero-caption .title-cards{
        display: none;
    }
    .hero-btns{
        margin-bottom: 30px;
    }
    
}
@media (max-widht:800px){
    .hero-caption{
        padding-left: 4% ;
    }
    .caption-img{
        margin-bottom: 10px;
        width: 30%;
    }
    .hero-caption p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .btn img{
        width: 20px;
    }
    .more-cards{
        padding-left: 4%;
    }
}